.tic-tac-toe-body {
    background: darkgrey;
    padding: 2rem;
    margin: 0;
    list-style: none
    
}


.tic-tact-toe-button {
    /* font-size: 15px; */
    background-color: orange;
    color: white;
    padding: 15px;
}

a.tic-tact-toe-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: orange;
    padding: 15px;

}